@import "./partials/colors";
@import "./partials/vars";
@import "./partials/animations";
@import "./mixins/section";

@import "./modules/card.scss";
@import "./modules/trait.scss";

@import "./common.scss";
@import "./navigation/navigation.scss";
@import "./sections/home.scss";
@import "./sections/about.scss";
@import "./sections/skills.scss";
@import "./footer.scss";

.container {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;

  .content-wrapper {
    height: 100vh;
    width: 100vw;
  }
}
