.card {
    align-items: center;
    background-color: var(--card-body-color);
    box-shadow: 3px 3px 5px 5px var(--card-box-shadow);
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 1.5em;
    min-height: 155px;
    min-width: 300px;

    &__head {
        align-items: center;
        background-color: var(--card-head-color);
        display: flex;
        justify-content: flex-start;
        padding: .25em 1em;
        width: 100%;
        
        img {
            height: 24px;
            margin-right: 1.5em;
            width: 24px;
        }
        
        h3 {
            margin: .5em;
        }
    }

    &__body {
        padding: .5em 1em;
        width: 100%;
    }
}