<div class="projects" id="projects">
  {{with .Site.Data.projects}}
  <div class="projects--title">
    <h1>{{.sectionTitle}}</h1>
  </div>
  <div class="projects__container">
    <div class="projects__selector">
      {{range .company}}
      <span data-type="{{.filter}}">{{.name}}</span>
      {{end}}
    </div>
    <section class="projects__card">
      {{range .projects}}
      <article class="project card" {{range .tags}} data-{{.}} {{end}}>
        <div class="card__head">
          <h3 class="project--title">{{.name}}</h3>
          <div class="project--subtitle">
            <span class="project--profile">{{.role}}</span>
            <span class="project--timeline">
              {{range .timeline}}
              <span>{{.}}</span>
              {{ end }}
            </span>
          </div>
        </div>
        <div class="card__body">
          <div class="project__summry">
            <p>{{.summary}}</p>
            {{if isset . "link"}}
            <a href="{{.link}}" target="_blank">Details</a>
            {{end}}
          </div>
          <div class="project__responsibility">
            <span>{{.responsibility}}</span>
          </div>
          <div class="project__tech-stack">
            <span>Technologies:</span>
            <ul>
              {{range .techStack}}
              <li>{{.}}</li>
              {{end}}
            </ul>
          </div>
        </div>
      </article>
      {{end}}
    </section>
  </div>
  {{end}}
</div>
