@import "../mixins/section";

.about {
  background-color: var(--background);
  display: flex;
  justify-content: center;

  &__container {
    @include section();
  }

  &__resume {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-bottom: 2em;
    width: 50%;

    @media only screen and (max-width: 800px) {
      margin-bottom: 4em;
      min-width: 100%;
    }

    h2,
    h3,
    p {
      margin-top: 0;
    }

    &--contact {
      margin-right: 2.5em;
      margin-top: .75em;

      a {
        font-size: 2.5rem;
        line-height: 2.5em;
        margin-right: 1em;
        
        &:hover {
          color: var(--contact-hover);
        }
      }
    }

    &--download {
      align-items: center;
      display: flex;
      justify-content: flex-start;
      margin: 3em 0 0;

      @media only screen and (max-width: 800px) {
        justify-content: center;
      }

      a {
        background-color: var(--download);
        border-radius: 10px;
        color: var(--download-text);
        margin-right: 2em;
        padding: 1em 1.5em;
        &:hover {
          background-color: var(--download-hover);
        }
      }
    }
  }

  &__swot {
    align-items: center;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
  }
}
