$catskillWhite: #e5e9f2;
$heather: #c0ccda;
$oxfordBlue: #3c4858;
$regentGray: #8392a5;
$tePapaGreen: #1c3f41;
$transparentBlack: rgba(0, 0, 0, 0.7);
$transparentShadow: rgba(0, 0, 0, 0.24);

$cornflowerBlue: #6195ed;
$lavenderMagenta: #ed63d2;
$robinsEggBlue: #00c9e3;
$ronchi: #eebb4d;
$salmon: #ff7c7c;
$shamrock: #2dca73;

:root {
  --primary: #{$tePapaGreen};

  --background: #{$heather};
  --background2: #{$catskillWhite};

  --text: #{$oxfordBlue};

  --nav-background: #{$transparentBlack};
  --nav-background-expand: #{$catskillWhite};
  --nav-background-inverted: #{lighten($catskillWhite, 10%)};
  --nav-background-inverted-selected: #{$heather};
  --nav-border: #{$catskillWhite};
  --nav-border-inverted: #{$tePapaGreen};
  --nav-box-shadow: #{$transparentShadow};
  --nav-text: #{$heather};
  --nav-text-inverted-selected: #{$tePapaGreen};
  --nav-text-selected: #{$catskillWhite};

  --home-border: #{$catskillWhite};
  --home-text: #{$catskillWhite};

  --contact-hover: #{lighten($tePapaGreen, 10%)};

  --download: #{$oxfordBlue};
  --download-hover: #{$tePapaGreen};
  --download-text: #{$heather};

  --trait-cornflowerBlue: #{$cornflowerBlue};
  --trait-lavenderMagenta: #{$lavenderMagenta};
  --trait-robinsEggBlue: #{$robinsEggBlue};
  --trait-ronchi: #{$ronchi};
  --trait-salmon: #{$salmon};
  --trait-shamrock: #{$shamrock};
  --trait-center: #{$catskillWhite};

  --card-body-color: #{lighten($catskillWhite, 3%)};
  --card-head-color: #{darken($catskillWhite, 3%)};
  --card-box-shadow: #{$transparentBlack};

  --footer-text: #{$regentGray};
}
